@page
@{
}
 
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Pais</th>
      <th scope="col">Coordenada x</th>
      <th scope="col">Coordenada y</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>cali</td>
      <td>Colombia</td>
      <td>34</td>
      <td>56</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>cali</td>
      <td>Colombia</td>
      <td>34</td>
      <td>56</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry the Bird</td>
      <td>cali</td>
      <td>Colombia</td>
      <td>34</td>
      <td>56</td>
    </tr>
  </tbody>
</table>
