@page
@model ProyectoCiclo3.App.Frontend.Pages.FormAvionesModel
@{
}
 
<div class="text-center">
    <form method="POST">
        <label for="id" class="form-label">Id:</label>
        <input type="text" class="form-control" id="id" name="id" required placeholder="Id">
        <label for="modelo" class="form-label">Modelo:</label>
        <input type="text" class="form-control" id="modelo" name="modelo" required placeholder="modelo">
        <label for="numero_de_asientos" class="form-label">Número de asientos</label>
        <input type="number" class="form-control" id="numero_de_asientos" name="numero_de_asientos" required placeholder="Número de asientos">
        <label for="numero_de_banos" class="form-label">Número de baños</label>
        <input type="number" class="form-control" id="numero_de_banos" name="numero_de_banos" required placeholder="Número de baños">
        <label for="capacidad_maxima" class="form-label">Capacidad maxima</label>
        <input type="number" class="form-control" id="capacidad_maxima" name="capacidad_maxima" required placeholder="Capacidad maxima">
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>

