@page
@model ProyectoCiclo3.App.Frontend.Pages.FormAvionesModel
@{
}
 
<div class="text-center">
    <form method="POST">
        <label for="id" class="form-label">Id:</label>
        <input type="text" class="form-control" id="id" name="id" required placeholder="Id">
        <label for="modelo" class="form-label">Modelo:</label>
        <input type="text" class="form-control" id="modelo" name="modelo" required placeholder="modelo">
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>

