@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Fly Emirates</h1>
    <img src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/WPHS7FNFABDUVMWGGH7XDAD6XI.jpg" alt="fly emirates" class="img-fluid">
</div>
